<%- include("partials/header") -%>
<h1>Home</h1>
    <p><%= ipsumHome %></p>

<% homeObjArr.forEach( (doc) => { %>
    <% let hrefTitle = "/post/" + doc._id; %>
    <% let shortTitle = doc.title.substring(0, 20); %>
    <% let shortPost = doc.body.substring(0, 60); %>
    
    <%if (shortPost.length >= 60 && shortTitle.length >= 20) { %>
        <h3><a href= "/post/<%= doc._id %>"><%= shortTitle + " ..." %></a></h3>
        <p><%= shortPost + " ..." %><a href= "/post/<%= doc._id %>">Read More</a></p>
    <%} else if (shortPost.length >= 60) { %>
        <h3><a href= "/post/<%= doc._id %>"><%= shortTitle %></a></h3>
        <p><%= shortPost + " ..." %><a href= "/post/<%= doc._id %>">Read More</a></p>
    <%} else if (shortTitle.length >= 20) { %>
        <h3><a href= "/post/<%= doc._id %>"><%= shortTitle + " ..." %></a></h3>
        <p><%= shortPost %></p>
    <%} else { %>
        <h3><a href= "/post/<%= doc._id %>"><%= shortTitle %></a></h3>
        <p><%= shortPost %></p>
   <% } %>
        
<% });%>

<%- include("partials/footer") -%>